<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-sidebar"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
        Angie1234
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon name="create-outline"></ion-icon>
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
Profile
</ion-content>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="back">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
