<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SPA - ADB2C login example
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-sidebar"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="!isLoggedin">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="login()">
          <ion-label>Login</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ng-container>
<ng-container *ngIf="user$ | async as user">
  <app-greeting [user]=user></app-greeting>
</ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-profile">
          <ion-label>My profile</ion-label>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="add-product">
          <ion-label>New product</ion-label>
          <ion-icon name="add-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>